.site-heading-resize, .page-heading-resize, .post-heading-resize {
  display: flex;
  height: 332px;
  align-items: center;
}
.site-heading-resize, .page-heading-resize {
  justify-content: center;
}
