.site-heading-resize, .page-heading-resize, .post-heading-resize {
  display: flex;
  height: 446px;
  align-items: center;
}
.site-heading-resize, .page-heading-resize {
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .site-heading-resize, .page-heading-resize, .post-heading-resize {
    display: flex;
    height: 532px;
    align-items: center;
  }
}
