{% set header_css="css/consistent-masthead-size.css" %}
{% if HEADER_SMALLER %}
{% set header_css="css/consistent-masthead-size-small.css" %}
{% endif %}
{% set code_block_css="css/code_blocks/darkly.css" %}
{% if COLOR_SCHEME_CSS %}
{% set code_block_css="css/code_blocks/" + COLOR_SCHEME_CSS %}
{% endif %}
{% assets filters="cssutils",
    output="css/style.min.css",
    "css/bootstrap.css",
    "css/clean-blog.css",
    "css/pelican-clean-blog.css",
    header_css,
    code_block_css %}
    <link rel="stylesheet" href="{{ SITEURL }}/{{ ASSET_URL }}"/>
{% endassets %}
