{% if DEFAULT_PAGINATION and articles_paginator.num_pages > 1 %}
                <!-- Pager -->
                <hr>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-auto text-center">
                            <a class="btn btn-primary{% if not articles_page.has_previous() %} hide-xs invisible{% endif %}" href="{{ SITEURL }}/{{ articles_previous_page.url }}">&larr; Newer Posts</a>
                        </div>
                        <div class="col text-center">
                            Page {{ articles_page.number }} of {{ articles_paginator.num_pages }}
                        </div>
                        <div class="col-sm-auto text-center">
                            <a class="btn btn-primary{% if not articles_page.has_next() %} hide-xs invisible{% endif %}" href="{{ SITEURL }}/{{ articles_next_page.url }}">Older Posts &rarr;</a>
                        </div>
                    </div>
                </div>
{% endif %}
