{% extends "base.html" %}

{% set page=namespace(title="Authors", headline="A list of all writers that contribute to " ~ SITENAME, noindex=True) %}

{% block content %}
            {% for author, articles in authors|sort %}
                <div class="post-preview">
                    <a href="{{ SITEURL }}/{{ author.url }}" rel="bookmark">
                        <h2 class="post-title">
                            {{ author }} ({{ articles|count }})
                        </h2>
                    </a>
                </div>
                <hr>
            {% endfor %}
{% endblock content %}
