{% extends "base_article_list.html" %}

{% set page=namespace(title=author, headline="All articles written by " ~ author ~ " for " ~ SITENAME, noindex=True) %}

{% block opengraph %}
    <meta property="og:type" content="profile"/>
    <meta property="og:title" content="{{ author }} | {{ SITENAME }}"/>
    <meta property="og:url" content="{{ SITEURL }}/{{ author.url }}"/>
{% if HEADER_COVER %}
    <meta property="og:image" content="{{ SITEURL }}/{{ HEADER_COVER }}"/>
{% else %}
    <meta property="og:image" content="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/post-bg.jpg"/>
{% endif %}
    <meta property="profile:first_name" content="{{ author.name.split(' ')[0] }}"/>
    <meta property="profile:last_name" content="{{ author.name.split(' ')[1:]|join(' ') }}"/>
    <meta property="profile:username" content="{{ author }}"/>
{% endblock opengraph %}
