{% extends "base.html" %}

{% block content %}
    {% if INTRO_CONTENT %}
                <div class="row intro-content">
                    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                        {{ INTRO_CONTENT }}
                    </div>
                </div>
    {% endif %}
    {% for article in articles_page.object_list %}
                <div class="post-preview">
                    <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">
                        <h2 class="post-title">{{ article.title }}</h2>
                        {% if article.headline %}
                        <h4 class="post-subtitle">{{ article.headline }}</h4>
                        {% endif %}
                    </a>
                {% if SHOW_FULL_ARTICLE %}
                    {{ article.content }}
                {% else %}
                    <p class="article-summary">
                    {% if article.has_summary %}
                        {{ article.summary }}
                    {% elif article.summary %}
                        {{ article.summary|striptags|truncate(140) }}
                    {% endif %}
                    </p>
                {% endif %}
                    <p class="post-meta">
                        Posted by
                        {% for author in article.authors %}
                        <a href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>{% if not loop.last %}, {% endif %}
                        {% endfor %}
                        on {{ article.locale_date }}
                        {% if article.readtime %} · {{article.readtime.minutes}} minute read{% endif %}
                    </p>
                    {% include 'includes/comments.html' %}
                </div>
                {% if not loop.last %}
                <hr>
                {% endif %}
    {% endfor %}

{% include "includes/pagination.html" %}
{% endblock content %}
