{% extends "base.html" %}

{% block title %}{{ SITENAME }} - Categories{% endblock %}

{% block head %}
    {{ super() }}
    <meta name="description" content="{{ SITESUBTITLE|default('View the blog.') }}">
{% endblock %}

{% block opengraph %}
    {{ super() }}
    <meta property="og:title" content="{{ SITENAME }} - Categories">
    <meta property="og:description" content="{{ SITESUBTITLE|default('View the blog.') }}">
    {% if HEADER_COVER %}
    <meta property="og:image" content="{{ SITEURL }}/{{ HEADER_COVER }}">
    {% else %}
    <meta property="og:image" content="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/post-bg.jpg">
    {% endif %}
{% endblock opengraph %}

{% block header %}
    <!-- Page Header -->
    {% if HEADER_COVER %}
        <link rel="preload" href="{{ SITEURL }}/{{ HEADER_COVER }}" as="image">
        <header class="intro-header" style="background-image: url('{{ SITEURL }}/{{ HEADER_COVER }}')">
    {% elif HEADER_COLOR %}
        <header class="intro-header" style="background-color: {{ HEADER_COLOR }}">
    {% else %}
        <link rel="preload" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/home-bg.jpg" as="image">
        <header class="intro-header" style="background-image: url('{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/home-bg.jpg')">
    {% endif %}
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading-resize">
                        <div class="post-heading">
                            <h1>Categories</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock header %}

{% block content %}
    <ul>
    {% for category, articles in categories %}
        <li><a href="{{ SITEURL }}/{{ category.url }}">{{ category }}</a></li>
    {% endfor %}
    </ul>
{% endblock content %}
