{% extends "base_article_list.html" %}

{% block header %}
                    <div class="site-heading-resize">
                        <div class="site-heading">
                            <h1>{{ SITENAME }}</h1>
                            {% if SITESUBTITLE %}
                                <span class="subheading">{{ SITESUBTITLE }}</span>
                            {% endif %}
                            {% if SOCIAL and SHOW_SOCIAL_ON_INDEX_PAGE_HEADER %}
                                <ul class="list-inline text-center">
                                {% for name,link in SOCIAL %}
                                    <li>
                                        <a href="{{ link }}">
                                            <span class="fa-stack fa-lg">
                                                <i class="fa fa-{{ name|lower }} fa-stack-1x fa-inverse"></i>
                                            </span>
                                        </a>
                                    </li>
                                {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                    </div>
{% endblock header %}
