{% if COLOR_SCHEME_CSS %}
    {% assets filters="cssmin", output="css/style.min.css", "css/bootstrap.min.purge.css", "css/clean-blog.min.purge.css", "css/code_blocks/" + COLOR_SCHEME_CSS %}
        <link rel="stylesheet" href="{{ SITEURL }}/{{ ASSET_URL }}">
    {% endassets %}
{% else %}
    {% assets filters="cssmin", output="css/style.min.css", "css/bootstrap.min.purge.css", "css/clean-blog.min.purge.css", "css/code_blocks/darkly.css" %}
        <link rel="stylesheet" href="{{ SITEURL }}/{{ ASSET_URL }}">
    {% endassets %}
{% endif %}
