{% extends "base.html" %}

{% block noindex %}{% if page.noindex %}{{ super() }}{% endif %}{% endblock noindex %}

{% block title %}{{ page.title }}{% endblock title %}

{% block headline %}{{ page.headline }}{% endblock headline %}

{% block description %}
{% if page.description %}
{{ page.description }}
{%- elif page.has_summary %}
{{ page.summary }}
{%- else %}
{{ super() }}
{%- endif %}
{% endblock description %}

{% block header_image %}
{% if page.header_cover %}
{{ SITEURL }}/{{ page.header_cover }}
{%- endif %}
{% endblock header_image %}

{% block content %}
                <article>
                    {{ page.content }}
                </article>
{% endblock content %}
