{% extends "base.html" %}

{% set page=namespace(title="Archives for " ~  period | reverse | join (' '), headline="A list of all articles written in " ~  period | reverse | join (' ') ~ " for " ~ SITENAME, noindex=True) %}

{% block content %}
                <dl>
                {% for article in dates %}
                    <dt>{{ article.locale_date }}</dt>
                    <dd><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></dd>
                {% endfor %}
                </dl>
{% endblock content %}
