{% extends "base.html" %}

{% block title %}Archives for {{ period | reverse | join (' ') }}{% endblock title %}

{% block headline %}A list of all articles written in {{ period | reverse | join (' ') }} for {{ SITENAME }}{% endblock headline %}

{% block content %}
                <dl>
                {% for article in dates %}
                    <dt>{{ article.locale_date }}</dt>
                    <dd><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></dd>
                {% endfor %}
                </dl>
{% endblock content %}
